<!--navbar-->
{% extends "core/base.html" %}
{% block title %} destinos {% endblock %}

{% block background %} {% endblock %}

<!--contenido-->
{% block content %}
{% load static %}
<link rel="stylesheet" href="{% static 'core/css/paraDestinos.css' %}" type="text/css">
<section class="below">
        <div class="below__content container">
            <h2 class="below__title">DESTINOS</h2>
        </div>
    </section>
    <div class="under_below">
        <P class="under_below__text">ELEGÍ ENTRE LOS DESTINOS MÁS IMPRESIONANTES Y DIVERTIDOS DE NUESTRO HERMOSO PAÍS</P>
        <h3 class="under_below__month" id="currentMonth"></h3>
    </div>
    <main class="main_container">
        <section class="galería_destinos">
            <figure>
                <a href="" src="#imagen_1">
                    <img class="image" src="{% static 'core/img/img_destinos/destinos_00/1_00_buenos_aires.jpeg' %}" alt="imagen de Buenos Aires"></a>
                    <figcaption><p><a href="{% url 'buenos_aires' %}">BUENOS AIRES</a></p></figcaption>
            </figure>
            <figure>
                <a href="" src="#imagen_2">
                    <img class="image" src="{% static 'core/img/img_destinos/destinos_00/2_00_noroeste.jpg' %}" alt="imagen del Noroeste"></a>
                    <figcaption><p><a href="{% url 'noroeste' %}">NOROESTE</a></p></figcaption>
            </figure>
            <figure>
                <a href="" src="#imagen_3">
                    <img class="image" src="{% static 'core/img/img_destinos/destinos_00/3_00_centro.jpg' %}" alt="imagen del Centro"></a>
                    <figcaption><p><a href="../pages/Destinos/Centro.html">CENTRO</a></p></figcaption>
            </figure>
            <figure>
                <a href="" src="#imagen_4">
                    <img class="image" src="{% static 'core/img/img_destinos/destinos_00/4_00_noreste_cataratas.jpg' %}" alt="imagen del Noreste"></a>
                    <figcaption><p><a href="../pages/Destinos/Noreste.html">NORESTE</a></p></figcaption>
            </figure>
            <figure>
                <a href="" src="#imagen_5">
                    <img class="image" src="{% static 'core/img/img_destinos/destinos_00/5_00_Cuyo.jpg' %}" alt="imagen de Cuyo"></a>
                    <figcaption><p><a href="../pages/Destinos/Cuyo.html">CUYO</a></p></figcaption>
            </figure>
            <figure>
                <a href="" src="#imagen_6">
                    <img class="image" src="{% static 'core/img/img_destinos/destinos_00/6_00_patagonia.jpg' %}" alt="imagen de Patagonia"></a>
                    <figcaption><p><a href="../pages/Destinos/Patagonia.html">PATAGONIA</a></p></figcaption>
            </figure>
        </section>
{% endblock %}