<!--navbar-->
{% extends "core/base.html" %}
{% block title %} cuyo {% endblock %}

{% block background %} {% endblock %}

<!--contenido-->
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'core/css/BsAsDestino.css' %}" type="text/css">
<div class="bellow_contenedor">
        <img src="{% static 'core/img/img_destinos/CUYO.jpg' %}" alt="imagen de paisaje de montaña en la region de cuyo"/>
    <div class="destino_X">CUYO</div>
    </div>
{%for project in projects %}
<div class="main_container">
    <div>
        <img class="image" src="{{project.image.url}}" alt=""></a>
    </div>
    <div class="descripcion">
        <h2 class="titulo_destino">{{project.title}}</h2>
        <p class="texto_destino">{{project.description}}</p>
    </div>
</div>
{% endfor %}
{% endblock %}